[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djoser = "*"

[dev-packages]
pyyaml = "*"
uritemplate = "*"
django-rest-swagger = "*"

[requires]
python_version = "3.10"
