[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
django-cors-headers = "*"
python-decouple = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
pillow = "*"
drf-nested-routers = "*"
typing-extensions = "*"
django-filter = "*"
django-rest-swagger = "*"
django-nonrelated-inlines = "*"
dj-database-url = "*"
gunicorn = {git = "https://github.com/benoitc/gunicorn.git"}
waitress = "*"
psycopg2-binary = "*"

[dev-packages]
uritemplate = "*"
django-rest-swagger = "*"
autopep8 = "*"
mypy = "*"

[requires]
python_version = "3.10"
